body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

/* კონტეინერი, რომელიც მთლიან აპლიკაციას მოიცავს */
.app-container {
  display: flex;
  width: 100%;
  padding: 20px;
}

.search-container {
  width: 280px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: #eee;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.tab.active {
  background: #ff4500;
  color: white;
}

.search-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.search-section label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.search-section select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1px;
}

.price-container input {
  width: 45%;
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.currency-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.search-button {
  width: 80%;
  padding: 12px;
  background: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.search-button:hover {
  background: #e03e00;
}







.sidebar h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 10px;
}


.manufacturer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.manufacturer-item {
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-bottom: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
